$fa-font-path: "/bower_components/font-awesome/fonts/";
@import "font-awesome/scss/font-awesome";
// bower:scss
@import "bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "font-awesome/scss/font-awesome.scss";
// endbower
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);
body,html{
  width: 100%;
  height: 100%;
}
.ng-scope {
  height: 100%;
}

button:focus,i:focus {
  outline: none !important;
}
.form-control{
  height: 36px;
  border-radius: 0px;
  font-size: 15px;
  font-family: 'Roboto';
}
.fa{
  width: 24px;
  position: relative;
  font-size: 20px;
  float: left;
  margin-top: 2px;
}

/*** Toolbars ***/
#sideNavToolBar{
  background: #106CC8;
}
#controlBar{
  background: #B1B1B1;
}

/*** Sidenav ***/
#graphInput{
  // background: #F7F7F7;
  background: linear-gradient(#106CC8,#0C56A0);
}
#navInner{
  background: none;
}

/*** Canvas ***/

canvas{
  width: 100%;
  height: 100%;
  transition: transform .35s cubic-bezier(0.18, 0.89, 0.32, 1.28);
  padding: 0px !important;
}
#canvasWrapper{
  display:  flex;
}
#cardWrapper{
  background: #CECECE;
  overflow: auto;
  position: relative;
}
#graphCard{
  position: relative;
  max-width: 832px;
  margin: 36px auto;
  min-height: 468px;
  max-height: 468px;
  transition: margin .15s ease-in-out;
}
.cardMaximize{
  margin: 8px       !important;
  min-height: 100%  !important;
  max-height: 100%  !important;
  max-width: 100%   !important;
}

/*** Rule Inputs ***/
.ruleWrapper{
  p,input{
    font-family: "Roboto";
  }
  .ruleNumber{
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 0px;
    margin-right: 16px;
    position: relative;
    top: 5px;
  }
  .ruleArrow{
    font-size: 20px;
    font-weight: 600;
    color: #A0A0A0;
    margin: 0px 8px;
    position: relative;
    top: 6px;
  }
  .ruleLetter{
    width: 48px;
  }
  .ruleDelete{
    font-size: 20px;
    color: #DADADA;
    margin-left: 12px;
    cursor: pointer;
    width: 34px;
    height: 34px;
    padding-top: 6px;
    text-align: right;
    transition: color ease-in-out 0.15s;
    &:hover{
      color: #5D5D5D;
    }
  }
}
#addRule{
  margin: 0px 0px -12px -10px;
  border: 1px solid #DCD8D8;
  background: linear-gradient(white, #F5F5F4);
  i{
    float: left;
    position: relative;
    top: 6px;
    color: #8A8A8A;
  }
}
#inputBox{
  margin-bottom: 24px;
  div span{
    font-size: 16px;
    padding-top: 6px;
    margin-right: 12px;
    font-weight: 400;
    text-align: left;
    font-family: 'Roboto';
    max-width: 48px;
    height: 36px;
  }
}
#inputSplit{
  input{
    max-width: 88px;
  }
  .md-icon-button{
    margin-left: -10px;
  }
}

/*** Graph Options ***/
#optionsBotRight{
  .md-icon-button{
    position: relative;
    float: right;
  }
}
#toolBoxTop,#toolBoxBot{
  position: absolute;
  max-height: 56px;
  width: 100%;
  left: 0;
  padding: 8px 4px;
  z-index: 1;
  .layout-align-end-center{
    text-align: right;
  }
  .md-icon-button{
    color: #A7A2A2;
    transition: color ease-in-out 0.15s , transform ease-in-out 0.15s;
    &:hover{
      color: #0E87FF;
      transform: scale(1.4,1.4);
    }
  }
}
#toolBoxTop{ top: 0;       }
#toolBoxBot{ bottom: 0px;  }
.cursorGrab{  cursor: -webkit-grab;     }
.cursorZoomP{ cursor: -webkit-zoom-in;  }
.cursorZoomM{ cursor: -webkit-zoom-out; }
.cursorGrabbing{ cursor: -webkit-grabbing; }
.rotateRight:hover{
  transform: rotate(45deg) scale(1.4,1.4) !important;
}
.rotateLeft:hover{
  transform: rotate(-45deg) scale(1.4,1.4) !important;
}
.graphToolsActive{
  color: #0E87FF !important;
  transform: scale(1.4,1.4) !important;
}

/*** Toast ***/
.md-toast-content{
  margin: 15px 14px 0px 0px;
}

/*** Tooltip Changes ***/
.tooltip.whiteBox .tooltip-inner {
    color: #000000;
    font-size: 14px;
    background-color: #ffffff;
    border-radius: 2px;
    padding: 5px 8px;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
}
.tooltip.whiteBox .tooltip-arrow {
    display: none;
}

@media (max-width: 960px) {
  #inputSplit{
    input{
      max-width: 58px;
    }
  }
}
