// bower:scss
// @import "font-awesome/scss/font-awesome.scss";
@import "bootstrap-sass/assets/stylesheets/_bootstrap.scss";
$fa-font-path: "/bower_components/font-awesome/fonts/";
@import "font-awesome/scss/font-awesome";
// endbower
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,100italic,100,300italic,500,400italic,500italic,700,700italic);
p,h1,h2,h3,h4,input{ font-family: 'Roboto', sans-serif; }
$BG-color: #E0E0E0;


.pageWrapper{
  margin: 0 15px;
  .row{
    position: absolute;;
    height: 100%;
    width: 100%;
  }
}
html,body{
  height: 100%;
  background: $BG-color;
}

/*** HEADER INFORMATION ***/
.titleBlock{
  text-align: right;
  margin-right: 20px;
  h4{
    font-size: 24px;
    color: #5F5F5F;
    margin: 20px 20px 0px 0px;
    text-align: right;
    position: relative;
    top: 4px;
  }
  h4,img{
    display: inline-block;
  }
  img{
    height: 48px;
    background-color: #D2D2D2;
    box-shadow: 0px 0px 8px 0px #828282;
    border: 1px solid #D4D4D4;
    &:hover {
        background-color: #42AFE0;
        box-shadow: 0px 0px 8px 0px #42AFE0;
        border: 1px solid #078AC5;
        transition: background-color .5s ease-in-out , box-shadow .5s ease-in-out, border .5s ease-in-out;
    }
  }
}

/*** COLUMNS INFORMATION ***/
#graphInput , #drawGraph{
  height: 100% !important;
}
#graphInput{
  width: 360px;
  float: left;
}
#drawGraph{
  background: white;
  width: calc(100% - 360px);
  float: left;
}

/*** ***/
input[type="text"] {
    border-radius: 0px;
}
.ruleGroup{
  .letterRule{
    width: 48px;
    float: left;
    margin-right: 12px;
  }
  i{
    float: left;
    position: relative;
    top: 8px;
    color: #B9B9B9;
  }
  .ruleChange{
    width: 200px;
    float: right;
  }
}

.boxWrap{
  padding: 26px 36px;
}
