
<div layout="row" flex id = "systemGraph"  ng-controller="MainCtrl" ng-cloak>

  <md-sidenav id = "graphInput"  flex class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')">
    <md-toolbar id="sideNavToolBar">
      <h1 class="md-toolbar-tools">L-System Inputs</h1>
    </md-toolbar>
    <md-content id = "navInner" flex layout-padding >

      <!-- Input Box for Axiom, Steps, and Angle -->
      <md-card id = "inputBox" layout-padding layout="column" class=md-whiteframe-z2>
        <md-card-header>
          <md-card-header-text>
            <span class="md-title">Inputs</span>
          </md-card-header-text>
        </md-card-header>
        <div layout="row"  flex>
          <span flex >Axiom</span>
          <input flex  type="text" class="form-control"  ng-model="axiom" ng-change="updateAxiom()">
        </div>
        <div id = "inputSplit" layout="row" flex >
          <div layout="row" flex >
            <span flex>Steps</span>
            <input flex type="number" ng-model="steps" ng-change="updateSteps()"  min="1" class="form-control">
          </div>
          <div  layout="row" layout-align="end end" flex>
            <span flex >Angle</span>
            <input flex type="text" ng-model="angle" ng-change="updateAngle()" class="form-control">
          </div>
        </div>

      </md-card>

      <!-- Rules  -->
      <md-card layout-padding class = "md-whiteframe-z2" >
        <md-card-header>
          <md-card-header-text>
            <span class="md-title">Rules</span>
          </md-card-header-text>
        </md-card-header>
        <div layout="row" class="ruleWrapper" ng-repeat="gRule in gRules"  >
          <p class = "ruleNumber">{{$index + 1 + '.'}}</p>
          <input maxlength="1" type="text" class="form-control ruleLetter" ng-model = "gRules[$index].in" ng-change="updateRules()" >
          <i class="material-icons ruleArrow">arrow_forward</i>
          <input type="text" class="form-control ruleChange" ng-model = "gRules[$index].out" ng-change="updateRules()">
          <i class="material-icons ruleDelete" ng-show = "gRules.length != 1" ng-click="deleteRule($index)">close</i>
        </div>
        <md-card-actions layout="row" layout-align="start center">
          <md-button ng-disabled="gRules.length > 5" id = "addRule" ng-click="addRule()"><i class="material-icons">add</i>Rule</md-button>
        </md-card-actions>
      </md-card>

    </md-content>


  </md-sidenav>

    <div flex layout="column">
      <!-- Control Buttons (Toolbar)  -->
      <div>
        <md-toolbar id = "controlBar" class="md-whiteframe-z1">
          <div class="md-toolbar-tools">
            <md-button class="md-icon-button" aria-label="Settings"  hide-gt-sm  ng-click="toggleLeft()">
              <i class="material-icons">menu</i>
            </md-button>
            <md-button class="md-icon-button" aria-label="Settings"  tooltip-placement="right" uib-tooltip="Run"  tooltip-class="whiteBox"  ng-click="drawLSystem()" ng-disabled="isBusyDrawing">
              <i class="material-icons" >play_arrow</i>
            </md-button>
            <h2>
              <span></span>
            </h2>
            <span flex></span>
            <md-button class="md-icon-button" aria-label="Favorite">
              <i class="material-icons">play_arrow</i>
            </md-button>
            <md-button class="md-icon-button" aria-label="More">
              <i class="material-icons">play_arrow</i>
            </md-button>
          </div>
        </md-toolbar>
      </div >
      <div id = "cardWrapper" flex layout-padding >
        <!-- Canvas Graph  -->
        <md-card id = "graphCard" ng-class="canvasChange" class="md-whiteframe-z2" flex >
          <!-- <i class="material-icons crossHair">add</i> -->
          <div  id = "canvasWrapper" flex >
            <canvas id = "graphCanvas"  ng-mousedown="canvasMouseDown($event)" ng-mousemove="canvasMouseMove($event)" ng-mouseup="canvasMouseUp($event)" ng-mouseleave="canvasMouseLeave()" >
            </canvs>
          </div>
          <div layout="row" id = "graphTools">
            <div flex layout-align="start center">
              <md-button ng-class="{'graphToolsActive' : canvasMode === 1}" class="md-icon-button" aria-label="Pan" ng-click="canvasMode = 1">
                <i class="fa  fa-hand-paper-o"></i>
                <!-- <i class="material-icons">pan_tool</i> -->
              </md-button>
              <md-button ng-class="{'graphToolsActive' : canvasMode === 2}" class="md-icon-button" aria-label="Zoom In" ng-click="canvasMode = 2">
                <i class="material-icons">zoom_in</i>
              </md-button>
              <md-button ng-class="{'graphToolsActive' : canvasMode === 3}" class="md-icon-button" aria-label="Zoom Out" ng-click="canvasMode = 3">
                <i class="material-icons">zoom_out</i>
              </md-button>
            </div>
            <div id = "optionsBotRight" flex layout-align="end center">
              <md-button class="md-icon-button" ng-click="fillScreen()" ng-show="!canvasChange.length">
                <i class="material-icons ">fullscreen</i>
              </md-button>
              <md-button class="md-icon-button" ng-click="shrinkScreen()" ng-show="canvasChange.length" >
                <i class="material-icons ">fullscreen_exit</i>
              </md-button>
            </div>
          </div>
        </md-card>
      </div>

    </div >
</div>
